import html {
  font-size: 62.5%;
  font-family: Avenir Next;
}
nav {
  background: #DAAB1D;
  height: 128px;
  width: 100%;
  border: 1px solid #979797;
  display: flex;
  justify-content: space-between;
  align-items: space-evenly;
}
ul {
  display: flex;
  margin-top: 40px;
  width: 50%;
  justify-content: space-around;
  color: #1E3A45;
}
li {
  display: list-item;
  list-style-type: none;
}
a {
  color: #1E3A45;
  text-decoration: none;
  font-size: 2rem;
  width: 100%;
}
a :visited {
  color: #1E3A45;
}
.about {
  height: 27px;
  width: 61px;
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
}
.faq {
  height: 27px;
  width: 44px;
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
}
.create-account {
  height: 27px;
  width: 149px;
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
}
.sign-in {
  height: 27px;
  width: 67px;
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
}
nav h1 {
  color: #1E3A45;
  font-size: 3.2rem;
}
header img {
  width: 100%;
}
.triangle {
  position: relative;
  z-index: 4;
  width: 0;
  height: 0;
  border-left: 450px solid transparent;
  border-right: 450px solid transparent;
  border-bottom: 314px solid #C0B594;
  margin-top: -345px;
  margin-left: 109px;
  font-size: 18px;
}
.organize-your-tools {
  height: 0;
  width: 100%;
  color: #1E3A46;
  font-weight: 600;
  line-height: 8px;
  text-align: center;
  z-index: 3;
}
join-today {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}
.rectangle {
  display: flex;
  height: 300px;
  width: 100%;
  background-color: #EDE3C2;
}
.rectangle-copy {
  width: 168px;
  border: 1px solid #6E5710;
  border-radius: 3px;
  background-color: #DAAB1D;
}
.with-use-my-tools-yo {
  height: 342px;
  width: 334px;
  color: #41340C;
  font-size: 28px;
  line-height: 38px;
  background-color: #C0B594;
}
.rectangle-copy1 {
  height: 405px;
  width: 1440px;
  background-color: #C0B594;
}
.meet-our-users {
  width: 800px;
  color: #1E3A46;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  display: flex;
}
.i-was-tired-of-alway {
  width: 100px;
  color: #41340C;
  display: flex;
  font-size: 18px;
  line-height: 25px;
}
p,
.i-was-tired-of-alway {
  display: flex;
  width: 250px;
  margin-left: 60px;
}
.rectangle {
  height: 405px;
  width: 1440px;
  background-color: #EDE3C2;
}
.rectangle .how-it-works {
  height: 38px;
  width: 175px;
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
}
.rectangle .how-it-works .when-you-create-an-a {
  height: 325px;
  width: 400px;
  color: #41340C;
  font-family: "Avenir Next";
  font-size: 18px;
  line-height: 25px;
}
.rectangle .how-it-works .when-you-create-an-a .a-tool-that-is-added {
  height: 300px;
  width: 400px;
  color: #41340C;
}
.rectangle .how-it-works .when-you-create-an-a .a-tool-that-is-added .once-the-rental-peri {
  height: 218px;
  width: 400px;
  color: #41340C;
  font-size: 18px;
  line-height: 25px;
}
.about-container {
  max-width: 970px;
  margin: auto;
  padding: 0 30px;
}
#showcase {
  height: 250px;
  position: relative;
  z-index: 5;
}
#showcase h1 {
  font-size: 50px;
  line-height: 1.3;
  position: relative;
  z-index: 5;
  animation-name: heading;
  animation-duration: 30s;
  animation-fill-mode: forwards;
}
@keyframes heading {
  0% {
    top: -60px;
  }
  100% {
    top: 30px;
  }
}
#content {
  position: relative;
  animation-name: content;
  animation-duration: 10s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
@keyframes content {
  0% {
    left: -1000px;
  }
  100% {
    right: 566px;
  }
}
.triangle1 {
  position: relative;
  z-index: 4;
  width: 0;
  height: 0;
  border-left: 550px solid transparent;
  border-right: 550px solid transparent;
  border-bottom: 314px solid #EDE3C2;
  margin-top: -351px;
  margin-left: 109px;
  font-size: 18px;
}
.about-rectangle {
  display: flex;
  height: 586px;
  width: 100%;
  background-color: #EDE3C2;
}
.join-today {
  height: 33px;
  width: 122px;
  color: #EDE3C2;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
}
.rectangle3 {
  height: 195px;
  width: 1440px;
  background-color: #488EAC;
}
@media (min-width: 500px) {
  padding: 20px;
  .about-use-my-tools {
    height: 27px;
    width: 186px;
    color: #EDE3C2;
    font-family: "Avenir Next";
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
  }
}
@media (min-width: 800px) {
  font-size: 1.8rem;
  padding: 0 10px;
}
