//About Page
.about-container{
    max-width:1000px;
    margin: auto;
    padding: 0 30px;
    
  }
  #showcase{
    height: 250px;
    position:relative;
    z-index:5;
  }
  #showcase h1{
    font-size: 30px;
    line-height: 1.3;
    position: relative;
    z-index:5;
    animation-name:heading;
    animation-duration:30s;
    animation-fill-mode:forwards;

  }
  @keyframes heading{
    0%{top:-60px}
    100%{top:30px}
  }
  #content{
      
    position:relative;
    animation-name: content;
    animation-duration:10s;
    animation-delay: 4s;
    animation-fill-mode:forwards;
  }
  @keyframes content{
    0%{left:-1000px}
    100%{right:566px}
  }
  
  
  .triangle1 {
    position:absolute;
    z-index: 4;
    width: 0; 
    height: 0; 
    border-left: 300px solid transparent;
    border-right:300px solid transparent;
    border-bottom: 314px solid #EDE3C2;
    top: -331px;
    left: 79px;
    font-size: 1rem;
  
}
img.join-today{
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.about-rectangle {
    display:flex;
    width: 600px;
        background-color: #EDE3C2;
        
}
div{
    color:#EBE5D3;
}
   
  
	p {display: block;
        width: 479px;
        margin-left: 8px;
        font-size: 3.8rem;
    }
    .tab-nav {
        .tag-links {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
    
          .aboutLink {
            padding: 20px 40px;
            background: lightgray;
            border: 1px solid black;
            cursor: pointer;
          }
    
          // .aboutLink[data-tab='1'] {
          //   color: red;
          // }
        }
        .tab-page {
          width: 100%;
          margin-top: 20px;
          background: lightgray;
    
          .page {
            padding: 20px;
            border: 1px solid black;
            display: none;
          }
    
          .change {
            display: block;
          }
        }
      }
    
    
    
        
          
        
    footer{
        width:500px;
        p{
            display:flex;
            font-size: 1.8rem;
        
        }
    }    



