.container{
width:100%;
display:flex;
img.join-today{
    position: relative;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    float:right;

    .rectangle1 {
    display:flex;
height: 300px;
    width: 100%;
      background-color: #EDE3C2;
      justify-content: space-around;

      .rectangle {	
          height: 362px;	
        width: 368px;	
        background-color: #C0B594;
      }}}}
        .with-use-my-tools-yo {	
            height: 342px;
                width: 334px;
                    color: @main-fc;
                    font-size: 28px;
                line-height: 38px;
                background-color:#C0B594;
                z-index:2;

       .signup{
        display: block;
        position: relative;
        width: 240px;
        margin-left:500px;
    }
}
.rectangle-copy {	
    height: 405px;	
    width: 1440px;	
    background-color: #C0B594;
        .meet-our-users {	
            
                width: 100%;
                    color: @font-color;	
                    font-size: 28px;
                        font-weight: 600;		
                        text-align: center;
                        display: flex;

                    
   .i-was-tired-of-alway  {
            
            width: 100px;
            color:@main-fc;
            display:flex;
            font-size: 18px;
            line-height: 25px;
            
        
           p, .i-was-tired-of-alway{
        display: flex;
    width: 250px;
    margin-left: 60px;
}
}
        }}
.rectangle2 {	
  height: 500px;
    width: 100%;	
    background-color: #EDE3C2;
    margin-top:-300px;
    border: 1px solid;
    justify-content: center;
    align-items: center;
.how-it-works {
	height: 38px;
	width: 175px;
	color: @font-color;
	font-size: 28px;
	font-weight: 600;
	line-height: 38px;
	text-align: center;
      
.when-you-create-an-a {
	height: 325px;
	width: 400px;
	color: @main-fc;
	
	font-size: 18px;
    
    .a-tool-that-is-added {
        height: 300px;
        width: 400px;
        color: @main-fc;
        .once-the-rental-peri {
           
            width: 400px;
            color: @main-fc;
    
            font-size: 18px;
            line-height: 25px;
        }
        
} 
}
}
}

      
      
  
        
    
       
  
    