html {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
	
}
body{
    /*overflow:hidden;*/
}

nav {
	background: #daab1d;
	width:100%;
	border: 1px solid #979797;
	display: flex;
	justify-content: space-between;
	align-items: space-evenly;
	text-decoration: none;
}
.logo {
	width:100%;
	padding: 20px;
	
	align-items: center;
	justify-content:center;
	align-items: space-between;
	display:inline-flex;
}
ul {display:100%;
	display: inline-flex;
	justify-content: space-between;
	color: #1e3a45;
	align-items: center;
	margin-left:46px;
	
}

li { width:100%;
	display: list-item;
	list-style-type: none;
	padding:45px;
	
}
a {
	color: #1e3a45;
	text-decoration: none;
	font-size: 2.0rem;
	
	justify-content: center;
	align-items: space-between;
	padding:45px;

}
a:visited {
	color: #1e3a45;
	text-decoration: none;
}
.about {
	
	width: 20px;
	color: #1e3a46;
	font-size: 20px;
	font-weight: bold;
	padding:100px;
	margin-top:45px;
}
.faq {
	height: 27px;
	width: 16px;
	color: #1e3a46;
padding:15px;
	font-size: 20px;
	font-weight: bold;
	line-height: 27px;
	margin-top:15px;
}
.create-account {
	display:flex;
	
	color: #1e3a46;

	font-size: 2rem;
	font-weight: bold;
	margin-left:149px;
	margin-top:41px;
}
.sign-in {
	
	
	color: #1e3a46;
	font-size: 16px;
	font-weight: bold;
	margin-left:10px;
	margin-top:37px;
}
nav h1 {
	color: #1e3a45;
	font-size: 3.2rem;
	margin-top:60px;
}

header img {
	width: 92%;
}

.triangle {
	position: absolute;
	z-index: 4;
	width: 0;
	height: 0;
	border-left: 450px solid transparent;
	border-right: 450px solid transparent;
	border-bottom: 209px solid #c0b594;
	margin-top: -209px;
	margin-left: 158px;
	font-size: 18px;
}

.join-today {
	margin: 60px auto;
	position: absolute;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	z-index: 4;
	top: 28px;
	left: -132px;
}
header p {
	font-size: 1.8rem;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	z-index: 3;
	margin-left: -237px;
    top: 100px;
    color:#1e3a45;
}
.organize-your-tools {
	position: absolute;
	color: #1e3a46;
	top: 123px;
	font-size: 1.8rem;
	font-weight: 600;
	width: 500px;
	text-align: center;
	display: flex;
}
.container {
	width: 100%;
	background-color: #ede3c2;
	overflow: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	height: 490px;
	margin-left: 35px;
    line-height: 38px;
    color:#41340C;
}

.container p {
	width: 100%;
	font-size: 1.6rem;
	background-color: #c0b594;
    height: 300px;
    color:#41340C;
    text-align:center;
}
.list-tools{
    width:100%
}
.network{
    width:100%;
}
.borrow{
    width:100%;
}
.container img {
	display: flex;
align-items: space-between;
	justify-content: center;
}
.container1{
color: #1e3a45;
    width: 100%;
    background-color: #c0b594;
    align-items: center;
    position: relative;
    left: 4px;
    height: 350px;
    font-size: 24px;
    margin-left: 54px;
}

img.signup {
	float: right;
    color: #336277;
    position: absolute;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    left: 550px;
    bottom: 10px;
    top: 239px;
}


.with {
    color:#1E3A46;
}
.whyuse{
    color:#41340C;
}
/*Pics*/
.container2 {
	width:100%;
	background-color: #e9e8e4;

	color: #1e3a46;
	font-size: 1rem;
	font-weight: 600;
	
	
}
.guy{
	width:220px;
	height:100px;
	flex:1;
	margin-left:10px;
	padding:25px;
	
  }
  .lady{
	
		margin-top:-105px;
		margin-left:257px;
		width:25%;
	}	
  
  .secondguy{
	
	flex:1;
	margin: 10px;
	padding:25px;
  }

.container2 p{
	text-align:center;
}
.container2 h2 {
	font-size: 2rem;
    color: #1e3a46;
    margin-left:24px;
}
.guy img{
	margin-left:-13px;
	width:175px;
	height:175px;
}
.lady img{
	margin-left:-21px;
	width:175px;
	height:175px;
}
.secondguy img{width:175px;
	width: 200px;
    height: 200px;
    margin-left: 27px;
    margin-left: 536px;
    margin-top: -432px;
}
.i-was-tired-of-alway {
	
	width: 85%;
	color: #41340c;
margin-left:-15px;
	font-size: 1rem;
    
    max-resolution: top 4px;px;
}
.it-is-so-convenient {

	width: 65%;
	color: #41340c;
	margin-left: 2px;
	font-size: 1rem;
}
.with-use-my-tools-i {
	
	width: 165px;
	color: #41340c;
margin-left:550px;
margin-top:-140px;
	
	
}
.with-use-my-tools-yo {
	height: 342px;
	width: 334px;
	color: #41340c;
	font-size: 28px;
	line-height: 38px;
}

.why-use-my-tools-copy {
	height: 38px;
	width: 239px;
	color: #1e3a46;
	font-size: 28px;
	font-weight: 600;
	line-height: 38px;
	text-align: center;
}
.tired-of-not-remembe {
	height: 66px;
	width: 365px;
	color: #41340c;
	font-size: 24px;
	font-weight: 600;
	line-height: 33px;
}
.tired-of-loaning-out {
	height: 66px;
	width: 479px;
	color: #41340c;
	font-size: 24px;
	font-weight: 600;
	line-height: 33px;
}
.container3 {
	width: 100%;
	background-color: #ede3c2;

	padding: 10px;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 1rem;

	position: relative;
	margin-top: 1px;
}
.container3 h2 {
	font-size: 3rem;
}
.column {
	float: left;
	width: 30.33%;
	margin: 10px;
	padding: 5px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.when-you-create-an-a {
	color: #41340c;
	font-size: 2rem;
	width: 300px;
}
.a-tool-that-is-added {
	color: #41340c;
	font-size: 2rem;
	width: 300px;
	float: left;
	margin-top: 41px;
}
.once-the-rental-peri {
	color: #41340c;
	font-size: 2rem;
	width: 300px;
    float: right;
	margin-top:41px;
	margin-left:-8px;
}
.join-today1 {
	position: relative;
	bottom: -15px;
}
.rectangle3 {
	height: 175px;
	width: 100%;
	background-color: #488eac;
	color: #ede3c2;
	font-size: 1.5rem;
display:flex;
	padding: 20px;
}
.info {
	width: 580px;
	padding: 30px;
	display: flex;
	color: #ede3c2;
	margin-top: -46px;
}

.company{
    width:100%;
    color:#ede3c2;
    margin-right:203px;
}
.legal{
    width:100%;
    margin-top:-66px;
    margin-left:130px;
   
    
    
}

.email{color:#ede3c2;}
.contact{
    width:100%;
    margin-left:350px;
    color: #ede3c2;
    margin-left375px;
    margin-top: -94px;
}
/*About Page*/
.about-container {
	max-width: 970px;
	margin: auto;
	padding: 0 30px;
}
#showcase {
    height: 300px;
    margin-left:-25px;
}
#showcase h1 {
	font-size: 25px;
	line-height: 1.3;
	position: relative;
	animation-name: heading;
	animation-duration: 4s;
	animation-fill-mode: forwards;
}
@keyframes heading {
	0% {
		top: -50px;
	}
	100% {
		top: 30px;
	}
}
#content {
	position: relative;
	animation-name: content;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes content {
	0% {
		left: -1000px;
	}
	100% {
		left: 0;
	}
}

.about-rectangle {
	display: flex;
	width: 400px;
	justify-content: center;
	align-items: center;
	height: 400px;
	margin: 10px auto;
font-size:medium;
	background-color: #ede3c2;
}
/*About Desktop*/
@media(max-width:1000px){
.about-rectangle{
 text-align:center;
    width:100%;
    margin-top:3px;
}

.triangle1 {
	position: absolute;
	z-index: 4;
	width: 0;
	height: 0;
	border-left: 350px solid transparent;
	border-right: 350px solid transparent;
	border-bottom: 209px solid #ede3c2;
	margin-top: -211px;
	margin-left: 291px;
	font-size: 18px;
}
}
/*About MediA 500PX*/
@media(max-width:500px){
    .triangle1{
    max-width: 200px;
		position: absolute;
		z-index: 10;
		width: 0;
		height: 0;
		border-left: 200px solid transparent;
		border-right: 200px solid transparent;
		border-bottom: 149px solid #c0b594;
		margin-top: -147px;
		margin-left: 56px;
		font-size: 1px;
		}


	.tag-links {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	}
	.aboutLink {
	padding: 20px 40px;
	background: #ede3c2;
	border: 1px solid black;
	cursor: pointer;
	}

	.aboutLink[data-tab='1'] {
	color: #1e3a45;
	}

	.tab-page {
	width: 100%;
	margin-top: 20px;
	background: #ede3c2;
	height: 350px;
	}
	.page {
	padding: 20px;
	border: 1px solid black;
	display: none;
	height: 500px;
	}

	.change {
	display: block;
	}
}

/*Desktop*/
@media (max-width: 1000px) {
	html {
		font-size: 0.6rem;

		text-align: center;
	}
	nav {
		width: 100%;
	}
	.triangle {
		position: absolute;
		z-index: 4;
		width: 0;
		height: 0;
		border-left: 400px solid transparent;
		border-right: 420px solid transparent;
		border-bottom: 205px solid #c0b594;
		margin-top: -206px;
		margin-left: 1px;
		font-size: -363px;
	}
	.container {
        
        width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	}
	

	.container1 {
		font-size: 1.4rem;
        color: #1e3a45;
        width: 86%;
    background-color: #c0b594;
    align-items: center;
    position: relative;
    left: 4px;
    height: 350px;
    font-size: 24px;
    margin-left: 60px;
	}
	

	.container2 {
        width: 87%;
        margin-left:60px;
	}
	.guy{
	margin-top:45px;
	margin-left:3px;
	margin-bottom: 39px;
	}
	.lady{
	margin-top:-105px;
	margin-left:299px;
	width:25%;

	}
	.secondguy{
	margin-top:-198px;
	margin-left:575px;
	width:28%;
	}
	.container3 {
		width: 80%;
		margin-left: 145px;
		text-align:center;
		margin-top:-10px;
	}
	.rectangle3 {
		width: 80%;
		margin-left:143px;
	}

}
/*Tablet*/

@media (max-width: 800px) {
	html {
		font-size: 0.6rem;

		text-align: center;
	}
	nav {
		width: 100%;
	}
	.triangle {
		position: absolute;
		z-index: 4;
		width: 0;
		height: 0;
		border-left: 400px solid transparent;
		border-right: 420px solid transparent;
		border-bottom: 205px solid #c0b594;
		margin-top: -206px;
		margin-left: 1px;
		font-size: -363px;
	}
	.container {
        
        width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	}
	

	.container1 {
		font-size: 1.4rem;
        color: #1e3a45;
        width: 80%;
    background-color: #c0b594;
    align-items: center;
    position: relative;
    left: 4px;
    height: 350px;
    font-size: 24px;
    margin-left: 139px;
	}
	

	.container2 {
        width: 80%;
        margin-left:142px;
	}
	.guy{
	margin-top:45px;
	margin-left:3px;
	margin-bottom: 39px;
	}
	.lady{
	margin-top:-105px;
	margin-left:439px;
	width:25%;

	}
	.secondguy{
	margin-top:-423px;
	margin-left:850px;
	width:28%;
	}
	.container3 {
		width: 80%;
		margin-left: 145px;
		text-align:center;
		margin-top:-10px;
	}
	.rectangle3 {
		width: 80%;
		margin-left:143px;
	}

}
/*Mobile*/

@media (max-width: 500px) {
	html {
		display: flex;
		flex-direction: column;
	}
	.logo {
		display: flex;
	}
	nav {
		display: flex;
		flex-direction: column;
		max-width: 500px;
		justify-content: center;
		align-items: center;
	}
	ul {
		display: flex;
		flex-direction: column;
		color: #1e3a46;
		text-align: center;
	}
	.join-today {
		top: -70px;
		position: relative;
		left: -250px;
		margin-right: auto;
	}

	header p {
		display: none;
	}
	.triangle {
		max-width: 200px;
		position: absolute;
		z-index: 10;
		width: 0;
		height: 0;
		border-left: 200px solid transparent;
		border-right: 200px solid transparent;
		border-bottom: 159px solid #c0b594;
		margin-top: -155px;
		margin-left: 65px;
		font-size: 1px;
	}
	.none {
		display: none;

		position: relative;
		top: 5px;
	}
	.list-tools {
		width: 500px;
		position: relative;
	}
	.network img {
		width: 500px;
		position: relative;
	}
	img.borrow {
		width: 500px;
		position: relative;
	}
	.container1 {
		width: 100%;
		font-size: 2rem;
		text-align: center;
		margin-left:60px;
	}
	.guy{
		display: none;
	}
	.container2 {
		display:none;
	.lady {
		display: none;
	}
	.secondguy {
		width: 200px;
		height: 200px;
		float: right;
	}
	.with-use-my-tools-i {
		float: left;
		margin-left: 32px;
	}
	.container2 .guy {
		display: none;
	}
	.i-was-tired-of-alway {
		display: none;
	}
	.it-is-so-convenient {
		display: none;
	}
	.container3 {
		width: 500px;
	}

	.when-you-create-an-a {
		display: none;
	}
	.a-tool-that-is-added {
		margin-top: 2px;
		float: left;
		margin-left: 92px;
		margin-bottom: 15px;
		font-size: 28px;
		display: block;
		width: 345px;
	}
	.once-the-rental-peri {
		display: none;
	}
	.sign-in{
		display:none;
	}
	.container3 img {
		display: none;
		height: 800px;
	}
	.email {
        display:block;
		
		max-width: 500px;
		height: 200px;
		font-size: 0.5px;
    }
    .menutab{
        display: none;
    }
    .menu{
        display:none;
    }
}
